**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.tar
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/local-test
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
/docs
/doc
/cert
/custom-impl
README.md
**/*Readme*
**/*README*
*.yaml
*.yml
**/.env*
**/*.sh
**/*.tgz
**/*.tar
**/*.zip
.npmrc
